<div>
    <div>
        <div>
            {{ article.votes }}
        </div>
        <div>
            Points
        </div>
    </div>
</div>
<div>
    <a href="{{ article.link }}">
        {{ article.title }}
    </a>
    <div>({{ article.domain() }})</div>
    <ul>
        <li>
            <a (click)="onVoteUp()">
                <i class="fa fa-arrow-up"></i>
                upvote
            </a>
        </li>
        <li>
            <a (click)="onVoteDown()">
                <i class="fa fa-arrow-down"></i>
                downvote
            </a>
        </li>
    </ul>
</div>