<div class="row article">
    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 article__counter">
        <h1 class="article__indicator_dark">
            {{ article.votes }}
        </h1>
        <h4 class="article__point_dark">
            Points
        </h4>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9 article__description">
        <div class="article__title">
            <h3 class="article__text_dark">{{ article.title }} <a href="{{ article.link }}" target="_blank"
                    class="article__link">({{ article.domain() }})</a></h3>
        </div>
        <div class="article__votes">
            <button (click)="onVoteUp()" class="article__button_dark">
                <i class="fa fa-arrow-up"></i>
                upvote
            </button>
            <button [disabled]="article.votes === 0" (click)="onVoteDown()" class="article__button_dark">
                <i class="fa fa-arrow-down"></i>
                downvote
            </button>
        </div>
    </div>
</div>