.article {
    border: 1px solid #efefef;
    border-radius: 8px;
    box-shadow: 1px 8px 10px #f1f1f1;
    height: 160px;

    &__counter {
        align-items: center;
        background-color: #efefef;
        border-radius: 8px 0 0 8px;
        display: flex;
        flex-direction: column;
        height: 160px;
        justify-content: center;
        padding: 10px;
    }

    &__indicator {
        &_dark {
            color: #545454;
        }
    }

    &__point {
        &_dark {
            color: #545454;
        }
    }

    &__description {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        height: 160px;
        justify-content: space-around;
        padding: 10px 20px;
    }

    &__title {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 10px;
        width: 100%;
    }

    &__text {
        &_dark {
            color: #545454;
        }
    }

    &__link {
        font-size: 0.7em;
    }

    &__votes {
        align-items: flex-end;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
        width: 100%;
    }

    &__button {
        &_dark {
            border: none !important;
            color: #545454;
            font-size: 1.2em;
        }
    }
}

@media (min-width: 690px) {
    .article {
        height: auto;
    }
}