<div class="container">
  <div class="row main">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main__content">
        <form>
          <h3>Add Link</h3>
          <div class="form-group">
            <label for="title">Title:</label>
            <Input type="text" name="title" class="form-control" id="title" placeholder="Enter a title" #newTitle>
          </div>
          <div class="form-group">
            <label for="link">Link:</label>
            <Input type="text" name="link" class="form-control" id="link" placeholder="Enter a link" #newLink>
          </div>
          <button type="submit" class="btn btn-primary" (click)="addArticle(newTitle, newLink)">Submit</button>
        </form>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <app-article *ngFor="let article of sortedArticles()" [article]="article"></app-article>
      </div>
    </div>
  </div>
</div>